extends ../base.pug

block nav
  - var curPath = ''

block css
  link(rel="stylesheet", href="css/auth/register.css")
  link(rel="stylesheet", href="css/util/forms.css")

block content
    form(action="/" method="POST")
      .form-header
        h2.form-title Registrarse
      .control
        label(for="username") Nombre de usuario
        input(type="text", name="username")
      .control
        label(for="password") Contraseña
        input(type="password", name="password")
      .control
        label(for="confirmPassword") Confirmar contraseña
        input(type="password", name="confirmPassword")
      button(type="submit") Enviar