extends ../base.pug

block nav
  - var curPath = '/admin'

block css
  link(rel="stylesheet", href="css/admin/index.css")

block content
  .opciones
    .opcion
      i.icono.fas.fa-users
      a(href="/admin/employees").opcion-nombre Empleados
    
    .opcion
      i.icono.fas.fa-hand-holding-usd
      a(href="/admin/products").opcion-nombre Productos