<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        if pageTitle
            title #{pageTitle}
        else
            title MDI Reynosa.

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
        link(rel="stylesheet" href="/css/util/main.css")
        <script src="https://kit.fontawesome.com/c5ecc8a5dd.js" crossorigin="anonymous"></script>
        block css
    body
        header
            nav
                block nav
                    - var curPath = '';
                ul
                    for path in paths
                        li: a(href=path[0], class=(curPath === path[0]? "active": "")): i(class=path[1])
                            p.only-pc.small-text #{path[2]}
        main
            block content
    footer
    //- Vacia por ahora.
    block js