<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        if pageTitle
            title #{pageTitle}
        else
            title MDI Reynosa.

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
        link(rel="stylesheet" href="css/main.css")
        script(src="js/main.js" type="module" defer)
        block css
    body
        header
            nav
                ul
                    li: a Inicio
                    li: a Contacto
                    li: a Productos
                    li: img(src="img/logo.png", alt="")

        main
            block content
    footer
        p El pie de la pagina.