section {
    padding-top: 12px;
    min-height: 512px;
}

section .body-section {
    width: 60%;
    max-width: 812px;
    margin: auto;
    min-height: 512px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    font-size: 2rem;
    /* padding-top: 12px; */
    margin-bottom: 64px;
    text-align: center;
}

section h3 {
    text-align: center;
    margin: 15px;
}

section p {
    font-size: 1.25rem;
    margin: 15px;
}

section ul {
    margin-left: 80px;
    list-style: square;
}

#historia {
    background: rgb(207, 203, 203);
    background-size: cover;
    background-repeat: no-repeat;
}

#servicios {
    background: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    section h2 {
        margin-bottom: 12px;
    }
}