extends ../base.pug

block nav
    - var curPath = '/';

block css
    link(rel="stylesheet", href="css/index.css")

block content
    section#bienvenido
        img(src="img/logo.png", alt="")

    section#historia
        .body-section
            h2 Historia

            p Con larga experiencia y presencia en la región y con una trayectoria de 15 años, nos ocupamos en crear soluciones para nuestros clientes desde un componente hasta el diseño integral de un proyecto.

            p Somos una empresa 100% mexicana; especializada en diseñar maquinaria con enfoque industrial, ademas de brindar servicio sd emantenimiento, automatización de procesos, diseño industrial y venta de componentes neumáticos, hidráulicos y electrónicos.

    section#servicios
        .body-section
            h2 Servicios

            h3 Cotizaciones
            p Cotizaciones detalladas según sus necesidades en equipos mecánicos y de control.
            .shared
                .half.left
                    h3 Diseño y fabricación.
                    ul
                        li Diseño mecánico en 3D.
                        li Diseño de controles y paneles.
                        li Ingenieros y técnicos capacitados para dar soporte en planta.
                .half.right
                    h3 Servicio y soporte.
                    ul
                        li Seguimiento de proyecto.
                        li Software y automatización.
                        li Integración.
                .fix

    section#objectivos
        .body-section
            h2 Objetivos

            p Nuestro objetivo es atender las problemáticas y necesidades que se le puedan presentar a la industria; con soluciones de vanguardia en forma práctica y oportuna, con tecnología de punta en el área de automatización, maquinado y mantenimiento.

    section#mision-vision
        .body-section
            h2 Misión y visión.
            .shared
                .half.left
                    h3 Misión.

                    p Brindar a nuestros clientes solcuones, productos y servicios de la mejor calidad, en tiempo y forma con personal capacitado.

                .half.right
                    h3 Visión.

                    p Ser una empresa que ofrezca calidad para mantener la confianza de nuestros clientes. 

                    h4 Lo que ofrecemos.

                    ul
                        li Costos competitivos
                        li Calidad
                        li En tiempo y forma
                        li Experiencia
                        li Soporte técnico
                            ul
                                li Mantenimiento
                                li Software
                                li Hardware
                        li Atención personalizada.
                        li Innovación.
                .fix
    section#servicios
        .body-section
            h2 Servicios que ofrecemos.
            ul
                li Cotizaciones.
                    ul
                        li Cotizaciónes detalladas según sus necesidades en equipos mecánicos y de control.
                li Diseño y fabricación.
                    ul
                        li Diseño mecánico en 3D.
                        li Diseño de controles y paneles.
                        li Ingenieros y técnicos capacitados para dar soporte en planta.
                li Servicio y soporte.
                    ul
                        li Seguimiento de proyecto.
                        li Software y automatización.
                        li Integración.
    
    section#productos
        .body-section
            h2 Venta de equipo industrial.
            h3 Productos.
            ul
                li Equipos de tratamientos de aire.
                li Electroválvulas.
                li Válvulas Mecánicas.
                li Cilindros Neumáticos.
                li Conectores y mangueras.
                li Hidráulica.        
        .gallery#productos
            .gallery-img
                img(src="img/secciones/productos/conectores.png", alt="Conectores")
            .gallery-img
                img(src="img/secciones/productos/Electroválvulas.png", alt="Electrovalvulas")
            .gallery-img
                img(src="img/secciones/productos/filtro.png", alt="Filtro")
            .gallery-img
                img(src="img/secciones/productos/Neumáticos.png", alt="Neumáticos")

    section#distribuidores
        .body-section
            h2 Distribuidores

            p
                |Distribuidores autorizados de 
                span.red TR Electronics
                | , 
                span.red HTM SENSORES
                |  y 
                span.red SYSCOM
                | .
        
            h3 TR Electronics

            p Encoder rotativo también llamado codificador del eje o generador de pulsos, dispositivo electromecánico usado para convertir la posición angular de un eje a un código digital. Los usos mas comunes para nuestros clientes son en robótica, en lentes fotográficas de última generación, en plataformas de radar rotatorias. Usualmente manejamos dos tipos principales: encoder absoluto e incremental o relativo

            h3 HTM
            p Sensores inductivos, capacitivos, fotoeléctricos y ultrasonicos.

            h3 Syscom

            p Venta de plumas para control del acceso vehicular.
    section#beneficio-clientes
        .body-section
            h2 Clientes

            p(style="width:80%;margin:30px auto;")
                | En 
                span.red MDI IND SA de CV 
                | buscamos el mayor beneficio para nuestros clientes.
            p(style="width:80%;margin:30px auto;")
                span.red MDI IND SA de CV 
                | combina precio, calidad, servicio y la mejor atención al cliente.    

        .gallery#productos-section
            .gallery-img
                img(src="img/secciones/logos/ametek.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/cequent.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/comapa.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/corning.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/eaton.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/emerson.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/htm-sensors.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/hutchinson.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/invacare.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/netafim.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/nidec.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/revcor.gif", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/steelmart.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/syscom.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/tr-electronic.png", alt="Ametek")
            .gallery-img
                img(src="img/secciones/logos/trw.png", alt="Ametek")